/* MailCard.css */
.mail-card {
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    width: 70em;
  }
  
  .mail-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .mail-id,
  .from {
    font-size: 12px;
    color: #777;
  }
  
  .recipient {
    display: flex;
    flex-direction: column;
  }
  
  .recipient-info {
    margin-bottom: 5px;
  }
  
  .recipient-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .recipient-email {
    font-size: 14px;
    color: #333;
  }
  
  .subject {
    font-size: 14px;
    margin-top: 5px;
    color: #555;
  }
  